.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

._Container {
  background-color: #fff;
}

._negrilla {
  font-weight: bolder;
  font-weight: 900;
}

 ._texttos {
  margin-left: 50px;
  }

.tiempo {
  width: 80px;
  height: 80px;
  color: #fff;
  position: absolute;
  top: 135px;
  left: 0px;
  border-radius: 0px 20px 20px 0px;
  z-index: 40;
  background-color: #2f3485;
}

  ._contenteinersV{
    margin-top: 2em;
    background-color: white;
    border: 2px solid #555;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 35px;
    height: 25%; 
}

  ._subbtn{
    width: 7.5em;
    height: 105px;
    background: #8470ed;
    margin-left: 10em;
    margin-top: 0px;
    border-radius: 25px;
  }

  ._SeccionesU {
    margin-top: 1em; 
    margin-right: 3em;
    margin-left: 3em;
  }

._Fran{
  margin-top: 16px;
  height: 8em;
  background: #ffffff;
  border-radius: 25px;
  box-shadow: 5px 10px 15px #888888;
}

._cuadrado{
  width: 70px; 
  height: 70px; 
  background: #dee8f1;
  border-radius: 25px;
}

._franGra{
  margin-top: -2.6em;
  padding-left: 5em;
  font-size: 20px;
}

._letra{
  font-weight: 600
}

.Space{
  margin-top: 10px;
}

._pais{
  margin-top: -1.6em;
  padding-left: 10em;
  font-size: 14px;
}

._frio{
    margin-top: 1.4em;
    padding-left: 1.5em;
    color: #686bd4;
}

._contry{
  margin-top: -0.6em;
  padding-left: 10em;
  font-size: 17px;
}

._centy{
  margin-top: -2.3em;
  padding-left: 2.5em;
  font-size: 10px;
  color: #8470ed;
}

.subTemp{
  font-size: 20px;
}

._temp {
    padding-left: -0.5em;
    padding-top: 0.3em;
}

._iconTemp {
    padding-left: 1.5em;
    padding-top: 1.3em;
}

.temperatura {
  width: 80px;
  height: 80px;
  color: white;
  position: absolute;
  top: 184px;
  left: 0px;
  border-radius: 0px 20px 20px 0px;
  z-index: 30;
  background-color: #7d68e9;

}

._Banner {
    background-color: #9ec6ce;
    background-image: url("../img/banner.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-top: 2em;
    margin-right: 1em;
    margin-left: 1em;
    border-radius: 30px;
}

._seccionD{
  background-color: white;
  background-image: url("../img/yards4.jpg");
  padding: 20px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 35px;
  height: 20em;
  margin-right: 1em;
  margin-left: 1em;
  ._contenedorSecD{
    width: 50%;
  }
  p {
    margin-top: -1.6em;
    padding-left: 2em;
    color: white;
  }
}

._art{
    margin-top: -1.6em;
    padding-left: 2em
}

._seccionTD{
  margin-top: 1em;
  background-color: #90d4f7;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 35px;
  height: 40%; 
}
  ._seguir{
    margin-top: -1.6em;
    padding-left: 1.6em;
  }


._containerIcon {
  width: 15%;
  height: 110px;
  padding-left: 50px;
  padding-top: 65px;
    ._icon{
      color: #686bd4;
    }
    ._name{
      margin-top: -1.6em;
      padding-left: 2em;
      color: #686bd4;
    }
}

   ._streetIcon{
      width: 1em;
    }

  ._SeccionesT {
    margin-top: 1em; 
    margin-right: 1em;
    margin-left: 1em;
    ._seccionTA{
      background-color: #f847a1;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      border-radius: 35px;
      height: 6em;
    }
 
  }
  ._mas{
    width: 4em;
    height: 93px;
    background: #8470ed;
    border-radius: 25px;
    position: absolute;
    margin-top: -53px;
    right: 17px;
    height: 16.5em;
  }

  ._streetPlus{
  margin-top: 1.5em;
  padding-left: 1em;
  width: 60%;
  height: 14em;
  }
  ._contenedorSecD{
    height: 14em;
    padding: 20px;
    p{
      width: 50%;
    margin-top: -1.6em;
    padding-left: 2em;
    color: white;
    }
  }

  
  ._SeccionesC {
    margin-top: 1em; 
    margin-right: 1em;
    margin-left: 1em;
  }

  ._addLocarion{
    background-color: #ffffff;
    border-style: dotted;
    border-radius: 25px;
    margin-top: 15px; 
    height: 8em; 
    box-shadow: 5px 10px 15px #888888;
    .btn{
      text-align: center;
      background-color: #f0eefb;
      margin-top: 42px;
      height: 2em;
      border-radius: 30px;
    }
  }


@media only screen and (min-width: 414PX ) {
  ._subbtn{
    margin-left: 13em;
  }
}

@media only screen and (min-width: 411px ) {
  ._subbtn{
    margin-left: 13em;
  }
}
@media only screen and (min-width: 1024px ) {
  ._subbtn{    
    margin-left: 7em;
  }

  ._mas{
    margin-top: -53px !important;
  }
}

@media only screen and (min-width: 540px ) {
  ._subbtn{    
        margin-left: 20em;
  }

  ._mas{
    margin-top: -51px;
  }
}

@media only screen and (min-width: 280px ) {
  ._mas{
    margin-top: -51px;
  }
}



@media only screen and (min-width: 600px) {

  ._containerIcon {
    width: 40%;
  }
  ._subbtn {
    margin-left: 35em;
  }
  ._SeccionesD{
    margin-left: 3em;
  }

  ._icon {
    width: 15%;
  }

  ._seccionD {
  display: inline-block;
  }
  ._SeccionesT{
    margin-top: -26em;
    margin-right: 3em;
    margin-left: 27em;
  }

  ._mas {
    margin-top: -73px;
    right: 49px;
  
  }

  ._SeccionesC {
    margin-top: 1em;
    margin-right: 3em;
    margin-left: 3em;
  }

}

@media only screen and (min-width: 1024PX) {
  ._subbtn {
    margin-left: 51em;
  }
}


@media only screen and (min-width: 1199px) {

  ._SeccionesU {
      margin-top: 1em; 
      height: 26em;
      margin-right: 90em;
      margin-left: 3em;
  }

  ._SeccionesD {
    margin-top: -26.3em; 
    height: 26em;
    margin-right: 62em;
    margin-left: 32em;
  }

  ._SeccionesT {
    margin-top: -26.3em; 
    height: 26em;
    margin-right: 32em;
    margin-left: 60.1em;
  }


  ._SeccionesC {
    margin-top: -37.4em; 
    height: 37em;
    margin-right: 3em;
    margin-left: 90em;
  }

}

@media only screen and (min-width: 1200px) {

  
  ._SeccionesU {
      margin-top: 1em; 
      height: 26em;
      margin-right: 58em;
      margin-left: 3em;

  }

  ._SeccionesD {
    margin-top: -26.3em; 
    height: 26em;
    margin-right: 40em;
    margin-left: 21em;
    
  }

  ._contenedorSecD{
    width: 3%;
    height: 99px;
    // padding-left: 37px;
    padding-top: 16px;
    color: white;
  }

    ._contenteinersV{
      margin-top: 2em;
      background-color: white;
      border: 2px solid #555;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      border-radius: 35px;
      height: 25%; 
  }

  ._subbtn{
    width: 7.5em;
    height: 105px;
    background: #8470ed;
    margin-left: 7em;
    margin-top: 0px;
    border-radius: 25px;
  }
  
  ._streetPlus{
    margin-top: -2em;
    padding-left: 1em;
    width: 60%;
  }

  ._SeccionesT {
    margin-top: -26.3em; 
    height: 26em;
    margin-right: 24em;
    margin-left: 37.1em;
  }


  ._SeccionesC {
    margin-top: -35.4em; 
    height: 34em;
    margin-right: 3em;
    margin-left: 53em;
    
  }

  ._addLocarion{
    background-color: #ffffff;
    border-style: dotted;
    border-radius: 25px;
    margin-top: 15px;
    width: 19em;
    height: 8em; 
    box-shadow: 5px 10px 15px #888888;
  }
  .btn{
    text-align: center;
    background-color: #f0eefb;
    margin-top: 42px;
    width: 15em;
    height: 2em;
    border-radius: 30px;
  }
  ._mas{
    margin-top: -2em;
    margin-top: -73px !important;
    right: 24em;
    height: 11em;
  }
}


@media only screen and (min-width: 1880px) {

  ._subbtn{
    width: 7.5em;
    height: 105px;
    background: #8470ed;
    margin-left: 19em;
    margin-top: 0px;
    border-radius: 25px;
  }

  ._mas{
    width: 4.5em;
    height: 167px;
    background: #8470ed;
    margin-left: 19em;
    margin-top: -85px;
    border-radius: 25px;
}

  ._SeccionesU {
      margin-top: 1em; 
      height: 26em;
      margin-right: 91em;
      margin-left: 3em;


  }

  ._SeccionesD {
    margin-top: -26.3em; 
    height: 26em;
    margin-right: 64em;
    margin-left: 31em;

  }

  ._SeccionesT {
    margin-top: -26.3em; 
    height: 26em;
    margin-right: 37em;
    margin-left: 57.1em;

  }


  ._SeccionesC {
    margin-top: -35.4em; 
    height: 35em;
    margin-right: 3em;
    margin-left: 85em;

  }
  ._addLocarion{
    width: 29em;
  }
  ._mas{
      margin-right: 13em;
  }
  ._icon {
      width: 6%;
  }
}
@media only screen and (min-width: 1024px) {}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: rgb(20, 243, 20);
}

.div {
  width: 100px; 
  height: 100px; 
  background: #ffffff;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
