.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

._Container {
  background-color: #fff;
}

._negrilla {
  font-weight: bolder;
  font-weight: 900;
}

 ._texttos {
  margin-left: 50px;
  }

.tiempo {
  width: 80px;
  height: 80px;
  color: #fff;
  position: absolute;
  top: 135px;
  left: 0px;
  border-radius: 0px 20px 20px 0px;
  z-index: 40;
  background-color: #2f3485;
}


._temp {
    padding-left: 0.5em;
    padding-top: 0.3em;
}

._iconTemp {
    padding-left: 1.5em;
    padding-top: 1.3em;
}

.temperatura {
  width: 80px;
  height: 80px;

  color: white;
  position: absolute;
  top: 184px;
  left: 0px;
  border-radius: 0px 20px 20px 0px;
  z-index: 30;
  background-color: #7d68e9;

}

._Banner {
  background-color: #9ec6ce;
  background-image: url("../img/banner.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-top: 3em;
  margin-right: 3em;
  margin-left: 3em;
  height: 18em;
  border-radius: 30px;
  width: 100%;
  
}

._seccionD{
  background-color: white;
  background-image: url("../img/yards4.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 35px;
  height: 66%; 
}

._seccionTA{
  background-color: #f847a1;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 35px;
  height: 20%; 
}
._art{
    margin-top: -1.6em;
    padding-left: 2em
}

._seccionTD{
  margin-top: 1em;
  background-color: #90d4f7;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 35px;
  height: 40%; 
}
._mas{
    width: 4.5em;
    height: 167px;
    background: #8470ed;
    margin-left: 7em;
    margin-top: -72px;
    border-radius: 25px
}

  ._seguir{
    margin-top: -1.6em;
    padding-left: 1.6em;
  }


._containerIcon {
  width: 3%;
  height: 110px;
  padding-left: 50px;
  padding-top: 65px;
    ._icon{
      color: #686bd4;
    }
    ._name{
      margin-top: -1.6em;
      padding-left: 2em;
      color: #686bd4;
    }
}



@media only screen and (max-width: 600px) {

  ._SeccionesU {
      margin-top: 1em; 
      height: 10em;
      margin-right: 3em;
      margin-left: 3em;
     
    
  }

  ._SeccionesD {
    margin-top: 1em; 
    height: 10em;
    margin-right: 3em;
    margin-left: 3em;
   
    
  }

  ._SeccionesT {
    margin-top: 1em; 
    height: 10em;
    margin-right: 3em;
    margin-left: 3em;
  }


  ._SeccionesC {
    margin-top: 1em; 
    height: 10em;
    margin-right: 3em;
    margin-left: 3em;
  }

}

@media only screen and (min-width: 600px) {

    ._SeccionesU {
      margin-top: 1em; 
      height: 10em;
      margin-right: 3em;
      margin-left: 3em;
  }

  ._SeccionesD {
    margin-top: 1em; 
    height: 10em;
    margin-right: 3em;
    margin-left: 3em;
  }

  ._SeccionesT {
    margin-top: 1em; 
    height: 10em;
    margin-right: 3em;
    margin-left: 3em;
  }


  ._SeccionesC {
    margin-top: 1em; 
    height: 10em;
    margin-right: 3em;
    margin-left: 3em;
  }

}


@media only screen and (min-width: 1199px) {

  ._SeccionesU {
      margin-top: 1em; 
      height: 26em;
      margin-right: 90em;
      margin-left: 3em;
  }

  ._SeccionesD {
    margin-top: -26.3em; 
    height: 26em;
    margin-right: 62em;
    margin-left: 32em;
  }

  ._SeccionesT {
    margin-top: -26.3em; 
    height: 26em;
    margin-right: 32em;
    margin-left: 60.1em;
  }


  ._SeccionesC {
    margin-top: -37.4em; 
    height: 37em;
    margin-right: 3em;
    margin-left: 90em;
  }

}

@media only screen and (min-width: 1200px) {  
  ._SeccionesU {
      margin-top: 1em; 
      height: 26em;
      margin-right: 58em;
      margin-left: 3em;
      border: 3px solid #555;

  }

  ._SeccionesD {
    margin-top: -26.3em; 
    height: 26em;
    margin-right: 40em;
    margin-left: 21em;
    
  }

  ._contenedorSecD{
    width: 3%;
    height: 99px;
    padding-left: 37px;
    padding-top: 16px;
    color: white;
  }

  ._streetIcon{
    width: 290%;
  }

  ._streetPlus{
    margin-top: 3.4em;
    padding-left: 1em;
    width: 60%;
  }

  ._SeccionesT {
    margin-top: -26.3em; 
    height: 26em;
    margin-right: 22em;
    margin-left: 39.1em;
  }


  ._SeccionesC {
    margin-top: -35.4em; 
    height: 34em;
    margin-right: 3em;
    margin-left: 58em;
    border: 3px solid #555;
  }
}

@media only screen and (min-width: 1250px) {
  ._SeccionesU {
      margin-top: 1em; 
      height: 26em;
      margin-right: 60em;
      margin-left: 3em;


  }

  ._SeccionesD {
    margin-top: -26.3em; 
    height: 26em;
    margin-right: 40em;
    margin-left: 20em;

  }

  ._SeccionesT {
    margin-top: -26.3em; 
    height: 26em;
    margin-right: 22em;
    margin-left: 40.1em;

  }


  ._SeccionesC {
    margin-top: -35.4em; 
    height: 35em;
    margin-right: 3em;
    margin-left: 57em;

  }
}

@media only screen and (min-width: 1880px) {
  ._SeccionesU {
      margin-top: 1em; 
      height: 26em;
      margin-right: 91em;
      margin-left: 3em;


  }

  ._SeccionesD {
    margin-top: -26.3em; 
    height: 26em;
    margin-right: 64em;
    margin-left: 31em;

  }

  ._SeccionesT {
    margin-top: -26.3em; 
    height: 26em;
    margin-right: 37em;
    margin-left: 57.1em;

  }


  ._SeccionesC {
    margin-top: -35.4em; 
    height: 35em;
    margin-right: 3em;
    margin-left: 85em;

  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: rgb(20, 243, 20);
}

.div {
  width: 100px; 
  height: 100px; 
  background: #428bca;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
